.menu {
    max-width: 940px;
    margin: 0 auto;
    background: #32425C;
    box-shadow: inset 0px -5px 0px $darkblue;
    width: 100%;
    margin-top: 40px;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        @media (max-width: 950px) {
            flex-direction: column;
            display: none;
        }
        &.show {
            display: flex;
        }
    }
    a {
        color: $Wight;
        text-decoration: none;
        font-size: 18px;
        font-family: $cu;
        font-style: normal;
        display: block;
        padding: 16px 25px;
        &:active {
           color: $Wight;
           opacity: 0.5;
        }
        @media (max-width: 950px) {
            box-shadow: inset 0px -5px 0px $darkblue;
            text-align: center;
        }
    }
    li {
        &:hover {
            background: $darkblue;
        }
        &:active {
            background: #1D2739;
        }
    }
}
.mini-menu {
    display: none;
    @media (max-width: 950px) {
        display: block;
        background: none;
        border: none;
        text-align: center;
        color: $Wight;
        font-family: $cu;
        font-size: 20px;
        padding: 16px 0;
        width: 100%;
        outline: none;
        box-shadow: inset 0px -5px 0px $darkblue;
    }
}












// $wrapper: 1200px;
// $Basic-red: #EE3643;
// $Basic-green: #63A63E;
// $Basic-grey: #3D546F;
// $darkblue: #293449;
// $navy: #161D29;
// $Basic-greylight :#C5C5C5;
// $Basic-background: #F1F5F7;
// $black: #000;
// $Wight: #fff;
// $Special-ylellow: #FFBF47;
// $Special-blue: #3BBCE3;
// $Special-lilac: #DC91D8;
// $Special-greenlight: #8ED78F;
// $Special-yellowlight: #FFD180;
// $Success: #5FBB2D;
// $warning: #FFBF47;
// $error: #BA2732;
// $lightgray: #EAEAEA;
// $pt: 'Cuprum', sans-serif;
// $cu: 'PT Sans', sans-serif;