@import "normalize";
@import "general";

header {
    background: $darkblue;
    min-height: 42px;
}
.container-header {
    @include flex(wrap, row, space-between, center)
}
.logo {
    text-decoration: none;
    text-transform: uppercase;
    color: $Wight;
    font-family: $cu;
    font-weight: 400;
    font-size: 20px;
    background: $Basic-red;
    height: 42px;
    line-height: 42px;
    padding: 0 55px;
    box-shadow: 0 5px 0 $error;
    margin-right: 17px;
}